# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- List of popular languages for Data Science
- List of commonly used libraries for Data Science
- List of Tools used in Data Science
- Arithmetic expressions in Python

## Author
Raghu

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Scikit-learn
4. Matplotlib
5. Seaborn
6. TensorFlowrFlow

|Data Science Tools |
|--------|
|Jupyter Notebooks |
|Google Colab |
|TensorFlow |
|Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
min = 200
hours = 200/60

print(hours)

3.3333333333333335